.fwrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.fwrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frame-border {
    border: 5px solid #EEE;
}